<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://securebootfunction.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/74c8c33a-f447-4f1e-890c-f6f71833c8be/resourceGroups/ME184447-SECBOOT-RG/providers/Microsoft.Web/sites/SecureBootFunction</ResourceId>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <PublishUrl>https://securebootfunction.scm.azurewebsites.net/</PublishUrl>
    <UseBlobContainerDeploy>true</UseBlobContainerDeploy>
  </PropertyGroup>
</Project>